<!DOCTYPE html>
<html lang="zh_Hans">
    <head>
        <meta charset="UTF-8" />
        <!-- <link rel="icon" type="image/x-icon" href="/eTrialfavicon.ico"> -->
        <title>临床研究协作平台</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="https://static.mobilemd.cn/public/lib/antd/3.23.6/antd.min.css" rel="stylesheet" />
        <!-- <script src="https://static.mobilemd.cn/public/lib/react/16.8.6/react.js"></script>
        <script src="https://static.mobilemd.cn/public/lib/react-dom/16.8.6/react-dom.min.js"></script> -->
        <script src="https://cdn.bootcdn.net/ajax/libs/react/16.8.6/umd/react.development.js"></script>
        <script src="https://cdn.bootcdn.net/ajax/libs/react-dom/16.8.6/umd/react-dom.development.js"></script>
<!--        <script src="https://static.mobilemd.cn/public/lib/react-router/5.1.2/react-router.js"></script>-->
        <script src="https://static.mobilemd.cn/public/lib/moment/2.24.0/moment.js"></script>
    </head>
    <body>
        <div id="root"></div>
    </body>
    <script type="text/javascript">
        window.__env__.mainInfo.domain = 'http://localhost:8888';
        window.__env__.fsInfo.requestHost = 'http://localhost:8888';
    </script>
    <!-- <script src="https://unpkg.com/wangeditor@3.1.1/release/wangEditor.min.js"></script> -->
</html>
<!-- GrowingIO Analytics code version 2.1 -->
<!-- Copyright 2015-2018 GrowingIO, Inc. More info available at http://www.growingio.com -->
<!-- <script type='text/javascript'>
!function(e,t,n,g,i){e[i]=e[i]||function(){(e[i].q=e[i].q||[]).push(arguments)},n=t.createElement("script"),tag=t.getElementsByTagName("script")[0],n.async=1,n.src=('https:'==document.location.protocol?'https://':'http://')+g,tag.parentNode.insertBefore(n,tag)}(window,document,"script","assets.growingio.com/2.1/gio.js","gio");
  gio('init','90cd4fa8e924e7b7', {});
//custom page code begin here
//custom page code end here
gio('send');
</script> -->
<!-- End GrowingIO Analytics code version: 2.1 -->
