$color-main: white;
$color-dark: #1d1f2c;

$color-bg: #f8f8f8;
$color-hover: #1890ff;
$color-dt: #9c9c9c;
$color-disabled: #c9c9c9;
$color-bg-disabled: rgba(11, 26, 92, 0.14);

$color-gray: #f5f5f5;

//for antd
$primary-color: #13c2c2;
$primary-5: #e6fffb;

$text-color-important: rgba(0, 0, 0, 0.85); // 重要文本色
$text-color: rgba(0, 0, 0, 0.65); // 主文本色
$text-color-secondary: rgba(0, 0, 0, 0.45); // 次文本色
$disabled-color: rgba(0, 0, 0, 0.25); // 失效色

$border-color: rgba(11, 26, 92, 0.14);
