.model-viewer-page {
  background-color: red;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  header {
    height: 60px;
    background-color: white;
  }

  main {
    flex: 1;
    overflow: hidden;
    background-color: #000;
    background-image: linear-gradient(
      0deg,
      rgb(246, 250, 255) 10%,
      rgb(214, 224, 235) 70%
    );
    display: flex;
    position: relative;
    .bf-house,
    .bf-menu {
      transition: transform 0.3s cubic-bezier(0.7, 0.3, 0.1, 1);
      transform: (translateX(0));
    }

    .is-show-issue {
      .bf-house,
      .bf-menu {
        transform: (translateX(-320px));
      }
    }

    .left,
    .right {
      width: 50%;
    }
  }
}
