{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "gdc-qastg.glodon.com",
  "basePath": "/bimcode",
  "tags": [
    {
      "name": "category-controller",
      "description": "Category Controller"
    },
    {
      "name": "classification-controller",
      "description": "Classification Controller"
    },
    {
      "name": "code-version-controller",
      "description": "Code Version Controller"
    },
    {
      "name": "data-code-controller",
      "description": "Data Code Controller"
    },
    {
      "name": "enum-controller",
      "description": "Enum Controller"
    },
    {
      "name": "ingredient-controller",
      "description": "Ingredient Controller"
    },
    {
      "name": "internal-test-controller",
      "description": "Internal Test Controller"
    },
    {
      "name": "property-controller",
      "description": "Property Controller"
    }
  ],
  "paths": {
    "/categories": {
      "get": {
        "tags": [
          "category-controller"
        ],
        "summary": "getCategories",
        "operationId": "getCategoriesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Category"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/category": {
      "post": {
        "tags": [
          "category-controller"
        ],
        "summary": "updateCategory",
        "operationId": "updateCategoryUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "category",
            "description": "category",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "category-controller"
        ],
        "summary": "newCategory",
        "operationId": "newCategoryUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "newCategory",
            "description": "newCategory",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Category"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Category»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/category/properties": {
      "get": {
        "tags": [
          "category-controller"
        ],
        "summary": "getCategoryPropertyRefs",
        "operationId": "getCategoryPropertyRefsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryPropertyRef"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/category/properties/{categoryid}": {
      "get": {
        "tags": [
          "category-controller"
        ],
        "summary": "getCategoryPropertyRefsById",
        "operationId": "getCategoryPropertyRefsByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "categoryid",
            "in": "path",
            "description": "categoryid",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/CategoryPropertyRef"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/category/property": {
      "put": {
        "tags": [
          "category-controller"
        ],
        "summary": "newCategoryProperty",
        "operationId": "newCategoryPropertyUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "newCategoryPropertyRef",
            "description": "newCategoryPropertyRef",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CategoryPropertyRef"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«CategoryPropertyRef»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "category-controller"
        ],
        "summary": "deleteCategoryProperty",
        "operationId": "deleteCategoryPropertyUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "categoryid",
            "in": "query",
            "description": "categoryid",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "propertycode",
            "in": "query",
            "description": "propertycode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/category/property/byid": {
      "delete": {
        "tags": [
          "category-controller"
        ],
        "summary": "deleteCategoryPropertyById",
        "operationId": "deleteCategoryPropertyByIdUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "id",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/category/{categoryId}": {
      "get": {
        "tags": [
          "category-controller"
        ],
        "summary": "getCategoryById",
        "operationId": "getCategoryByIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "description": "categoryId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Category"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/category/{categoryid}": {
      "delete": {
        "tags": [
          "category-controller"
        ],
        "summary": "deleteCategory",
        "operationId": "deleteCategoryUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "categoryid",
            "in": "path",
            "description": "categoryid",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/classification": {
      "post": {
        "tags": [
          "classification-controller"
        ],
        "summary": "updateClassification",
        "operationId": "updateClassificationUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "classification-controller"
        ],
        "summary": "createNewClassification",
        "operationId": "createNewClassificationUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/classification/bycode": {
      "get": {
        "tags": [
          "classification-controller"
        ],
        "summary": "getClassificationCodeByCode",
        "operationId": "getClassificationCodeByCodeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "classification-controller"
        ],
        "summary": "deleteClassificationCode",
        "operationId": "deleteClassificationCodeUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/classification/codes": {
      "get": {
        "tags": [
          "classification-controller"
        ],
        "summary": "getClassificationTreeByClassificationType",
        "operationId": "getClassificationTreeByClassificationTypeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codetype",
            "in": "query",
            "description": "codetype",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/classification/codes/fuzzy": {
      "get": {
        "tags": [
          "classification-controller"
        ],
        "summary": "getClassificationCodeFuzzy",
        "operationId": "getClassificationCodeFuzzyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cond",
            "in": "query",
            "description": "cond",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataCode»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/classification/properties": {
      "get": {
        "tags": [
          "classification-controller"
        ],
        "summary": "getClassificationProperties",
        "operationId": "getClassificationPropertiesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "classificationcode",
            "in": "query",
            "description": "classificationcode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/classification/property": {
      "put": {
        "tags": [
          "classification-controller"
        ],
        "summary": "linkClassificationAndProperty",
        "operationId": "linkClassificationAndPropertyUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "classificationcode",
            "in": "query",
            "description": "classificationcode",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertycode",
            "in": "query",
            "description": "propertycode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "classification-controller"
        ],
        "summary": "unlinkClassificationAndProperty",
        "operationId": "unlinkClassificationAndPropertyUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "classificationcode",
            "in": "query",
            "description": "classificationcode",
            "required": true,
            "type": "string"
          },
          {
            "name": "propertycode",
            "in": "query",
            "description": "propertycode",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/classification/types": {
      "get": {
        "tags": [
          "classification-controller"
        ],
        "summary": "getClassificationTypes",
        "operationId": "getClassificationTypesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeTableTranslate"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datacode/codes": {
      "get": {
        "tags": [
          "data-code-controller"
        ],
        "summary": "getAllDataCodeTree",
        "operationId": "getAllDataCodeTreeUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datacode/codes/flat": {
      "get": {
        "tags": [
          "data-code-controller"
        ],
        "summary": "getAllDataCodesFlat",
        "operationId": "getAllDataCodesFlatUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enum": {
      "post": {
        "tags": [
          "enum-controller"
        ],
        "summary": "updateEnum",
        "operationId": "updateEnumUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "enum-controller"
        ],
        "summary": "createNewEnum",
        "operationId": "createNewEnumUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enum/bycode": {
      "get": {
        "tags": [
          "enum-controller"
        ],
        "summary": "getEnumCodeByCode",
        "operationId": "getEnumCodeByCodeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "enum-controller"
        ],
        "summary": "deleteEnum",
        "operationId": "deleteEnumUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/enum/codes": {
      "get": {
        "tags": [
          "enum-controller"
        ],
        "summary": "getEnumTreeByEnumType",
        "operationId": "getEnumTreeByEnumTypeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codetype",
            "in": "query",
            "description": "codetype",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enum/codes/flat": {
      "get": {
        "tags": [
          "enum-controller"
        ],
        "summary": "getEnumsByEnumType",
        "operationId": "getEnumsByEnumTypeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codetype",
            "in": "query",
            "description": "codetype",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enum/codes/fuzzy": {
      "get": {
        "tags": [
          "enum-controller"
        ],
        "summary": "getClassificationCodeFuzzy",
        "operationId": "getClassificationCodeFuzzyUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cond",
            "in": "query",
            "description": "cond",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataCode»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/enum/types": {
      "get": {
        "tags": [
          "enum-controller"
        ],
        "summary": "getEnumTypes",
        "operationId": "getEnumTypesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeTableTranslate"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/exception": {
      "get": {
        "tags": [
          "internal-test-controller"
        ],
        "summary": "exception",
        "operationId": "exceptionUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/health": {
      "get": {
        "tags": [
          "internal-test-controller"
        ],
        "summary": "healthy",
        "operationId": "healthyUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/ingredient": {
      "post": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "updateIngredient",
        "operationId": "updateIngredientUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "createNewIngredient",
        "operationId": "createNewIngredientUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/ingredient/bycode": {
      "get": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "getIngredientCodeByCode",
        "operationId": "getIngredientCodeByCodeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "deleteIngredientCode",
        "operationId": "deleteIngredientCodeUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/ingredient/codes": {
      "get": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "getIngredientTreeByIngredientType",
        "operationId": "getIngredientTreeByIngredientTypeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codetype",
            "in": "query",
            "description": "codetype",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/ingredient/codes/fuzzy": {
      "get": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "getIngredientCodeFuzzy",
        "operationId": "getIngredientCodeFuzzyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cond",
            "in": "query",
            "description": "cond",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataCode»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/ingredient/types": {
      "get": {
        "tags": [
          "ingredient-controller"
        ],
        "summary": "getIngredientTypes",
        "operationId": "getIngredientTypesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeTableTranslate"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/property": {
      "post": {
        "tags": [
          "property-controller"
        ],
        "summary": "updateProperty",
        "operationId": "updatePropertyUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "property-controller"
        ],
        "summary": "createNewProperty",
        "operationId": "createNewPropertyUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/property/bycode": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "getPropertyCodeByCode",
        "operationId": "getPropertyCodeByCodeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataCode"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "property-controller"
        ],
        "summary": "deletePropertyCode",
        "operationId": "deletePropertyCodeUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "code",
            "in": "query",
            "description": "code",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/property/codes": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "getPropertyTreeByCodeType",
        "operationId": "getPropertyTreeByCodeTypeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "codetype",
            "in": "query",
            "description": "codetype",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/property/codes/fuzzy": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "getPropertyCodeFuzzy",
        "operationId": "getPropertyCodeFuzzyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "cond",
            "in": "query",
            "description": "cond",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataCode»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/property/enumcodes/flat": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "getPropertyEnumCodes",
        "operationId": "getPropertyEnumCodesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataCode"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/property/types": {
      "get": {
        "tags": [
          "property-controller"
        ],
        "summary": "getPropertyTypes",
        "operationId": "getPropertyTypesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TypeTableTranslate"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/timeout/{timeoutInMill}": {
      "get": {
        "tags": [
          "internal-test-controller"
        ],
        "summary": "timeout",
        "operationId": "timeoutUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "timeoutInMill",
            "in": "path",
            "description": "timeoutInMill",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/versions": {
      "get": {
        "tags": [
          "code-version-controller"
        ],
        "summary": "getAllCodeVersions",
        "operationId": "getAllCodeVersionsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    }
  },
  "securityDefinitions": {
    "JWT": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Category": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "name": {
          "type": "string"
        }
      },
      "title": "Category"
    },
    "CategoryPropertyRef": {
      "type": "object",
      "properties": {
        "categoryId": {
          "type": "integer",
          "format": "int64"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "propertyCode": {
          "type": "string"
        },
        "valueList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        }
      },
      "title": "CategoryPropertyRef"
    },
    "DataCode": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "isLeaf": {
          "type": "integer",
          "format": "int32"
        },
        "mnemonic": {
          "type": "string"
        },
        "subCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DataCode"
          }
        },
        "symbol": {
          "type": "string"
        },
        "table": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "valueList": {
          "type": "array",
          "items": {
            "type": "object"
          }
        },
        "valueListStr": {
          "type": "string"
        },
        "valueType": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "DataCode"
    },
    "Response«CategoryPropertyRef»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "description": "请求响应数据",
          "$ref": "#/definitions/CategoryPropertyRef"
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«CategoryPropertyRef»"
    },
    "Response«Category»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "description": "请求响应数据",
          "$ref": "#/definitions/Category"
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«Category»"
    },
    "Response«List«DataCode»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "type": "array",
          "description": "请求响应数据",
          "items": {
            "$ref": "#/definitions/DataCode"
          }
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«List«DataCode»»"
    },
    "Response«int»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应数据"
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«int»"
    },
    "TypeTableTranslate": {
      "type": "object",
      "properties": {
        "codeType": {
          "type": "integer",
          "format": "int32"
        },
        "description": {
          "type": "string"
        },
        "table": {
          "type": "string"
        }
      },
      "title": "TypeTableTranslate"
    }
  }
}