{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "gdc-de.glodon.com",
  "basePath": "/structure",
  "tags": [
    {
      "name": "Structural公共构件坞功能接口",
      "description": "Common Structural Controller"
    },
    {
      "name": "Structural项目构件坞功能接口",
      "description": "Project Structural Controller"
    },
    {
      "name": "basic-error-controller",
      "description": "Basic Error Controller"
    },
    {
      "name": "internal-test-controller",
      "description": "Internal Test Controller"
    },
    {
      "name": "web-mvc-links-handler",
      "description": "Web Mvc Links Handler"
    }
  ],
  "paths": {
    "/error": {
      "get": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingGET",
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "head": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingHEAD",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingDELETE",
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "options": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingOPTIONS",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      },
      "patch": {
        "tags": [
          "basic-error-controller"
        ],
        "summary": "errorHtml",
        "operationId": "errorHtmlUsingPATCH",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/html"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ModelAndView"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/exception": {
      "get": {
        "tags": [
          "internal-test-controller"
        ],
        "summary": "exception",
        "operationId": "exceptionUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/health": {
      "get": {
        "tags": [
          "internal-test-controller"
        ],
        "summary": "healthy",
        "operationId": "healthyUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "string"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/common/classify": {
      "get": {
        "tags": [
          "Structural公共构件坞功能接口"
        ],
        "summary": "获取公共构件坞分类列表",
        "operationId": "getCommonSuiteUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/common/classify/{category}/suites": {
      "get": {
        "tags": [
          "Structural公共构件坞功能接口"
        ],
        "summary": "获取公共构件坞某分类下的构件元素",
        "operationId": "getSuiteDetailsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "description": "分类Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "page",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "pageSize",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/common/suite/{suiteId}/deail": {
      "get": {
        "tags": [
          "Structural公共构件坞功能接口"
        ],
        "summary": "获取公共构件组件详细信息",
        "operationId": "getCommonSuiteInfoDetailUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "suiteId",
            "in": "path",
            "description": "构件id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/common/suites/search": {
      "post": {
        "tags": [
          "Structural公共构件坞功能接口"
        ],
        "summary": "公共库构件查询",
        "operationId": "commonSuitesSearchUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "condition",
            "description": "condition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SuiteSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/suites": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "向项目中添加公共构件",
        "operationId": "bindProjectSuitesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "binder",
            "description": "binder",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectSuiteBinder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/suites/search": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "项目构件查询",
        "operationId": "projectSuitesSearchUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "condition",
            "description": "condition",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectSuiteSearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProjectSuiteResultBean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/init/template/suites": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "根据模板数据向项目中预置构件",
        "operationId": "bindProjectSuitesUsingPOST_1",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "template",
            "description": "template",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ProjectStructureVO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/mapper": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "为项目创建构件坞的映射(该接口成功返回10000，而不是success)",
        "operationId": "initProject4SuiteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«FakeProject»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/preset/suites": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "检查项目是否已经预置了默认的构件组",
        "operationId": "checkProjectPresetSuitesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«boolean»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "向项目中预置默认的公共构件组",
        "operationId": "presetProjectSuitesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite": {
      "put": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "更新项目构件",
        "operationId": "updateProjectSuiteInfoDetailUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "params",
            "in": "query",
            "description": "params",
            "required": false,
            "type": "object"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadResultBean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/category": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目构件坞分类列表",
        "operationId": "getProjectSuiteCategoryUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目id",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "search",
            "description": "search",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProjectSuiteCategorySearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/name": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "判断项目中是否存在同名组件",
        "operationId": "checkSuiteExistsByNameUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "构件名称",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/upload": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "上传第三方项目构件",
        "operationId": "uploadThirdPartSuiteUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "params",
            "description": "params",
            "required": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadResultBean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/upload/uri": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "申请构件上传的url地址",
        "operationId": "askForSuitesUploadUrlUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "md",
            "in": "query",
            "description": "构件摘要",
            "required": true,
            "type": "string"
          },
          {
            "name": "md5",
            "in": "query",
            "description": "md5",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "构件名称",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/{id}": {
      "post": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "根据构件id判断项目中是否存组件",
        "operationId": "checkSuiteExistsByIdsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/{suiteId}/placeholder": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目构件的图例",
        "operationId": "loadSuitePlaceholderUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "suiteId",
            "in": "path",
            "description": "构件id",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "版本号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/{suiteId}/placeholder/url": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目构件图例下载的url",
        "operationId": "loadSuitePlaceholderDownloadUrlUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "suiteId",
            "in": "path",
            "description": "构件id",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "版本号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/{suiteId}/{version}": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目构件的下载地址",
        "operationId": "downloadSuitesSearchUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "suiteId",
            "in": "path",
            "description": "构件Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "构件版本",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/{suiteId}/{version}/family/info": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目构件family详细信息",
        "operationId": "getProjectSuiteFamilyDetailUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "name": "suiteId",
            "in": "path",
            "description": "suiteId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suite/{suiteId}/{version}/info": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目构件详细信息",
        "operationId": "getProjectSuiteInfoDetailUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "name": "suiteId",
            "in": "path",
            "description": "suiteId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/structural/project/{projectId}/suites/list": {
      "get": {
        "tags": [
          "Structural项目构件坞功能接口"
        ],
        "summary": "获取项目中所有最新版本的可用构件列表(该接口成功返回10000，而不是success)",
        "operationId": "listProjectSuitesUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "项目id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«ProjectStructureVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    }
  },
  "securityDefinitions": {
    "JWT": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "FakeProject": {
      "type": "object",
      "properties": {
        "createTime": {
          "type": "string",
          "format": "date-time"
        },
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "preset": {
          "type": "boolean"
        },
        "projectId": {
          "type": "string"
        },
        "projectMirrorId": {
          "type": "string"
        },
        "viewed": {
          "type": "boolean"
        }
      },
      "title": "FakeProject"
    },
    "Link": {
      "type": "object",
      "properties": {
        "href": {
          "type": "string"
        },
        "templated": {
          "type": "boolean"
        }
      },
      "title": "Link"
    },
    "Map«string,Link»": {
      "type": "object",
      "title": "Map«string,Link»",
      "additionalProperties": {
        "$ref": "#/definitions/Link"
      }
    },
    "ModelAndView": {
      "type": "object",
      "properties": {
        "empty": {
          "type": "boolean"
        },
        "model": {
          "type": "object"
        },
        "modelMap": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "reference": {
          "type": "boolean"
        },
        "status": {
          "type": "string",
          "enum": [
            "100 CONTINUE",
            "101 SWITCHING_PROTOCOLS",
            "102 PROCESSING",
            "103 CHECKPOINT",
            "200 OK",
            "201 CREATED",
            "202 ACCEPTED",
            "203 NON_AUTHORITATIVE_INFORMATION",
            "204 NO_CONTENT",
            "205 RESET_CONTENT",
            "206 PARTIAL_CONTENT",
            "207 MULTI_STATUS",
            "208 ALREADY_REPORTED",
            "226 IM_USED",
            "300 MULTIPLE_CHOICES",
            "301 MOVED_PERMANENTLY",
            "302 FOUND",
            "302 MOVED_TEMPORARILY",
            "303 SEE_OTHER",
            "304 NOT_MODIFIED",
            "305 USE_PROXY",
            "307 TEMPORARY_REDIRECT",
            "308 PERMANENT_REDIRECT",
            "400 BAD_REQUEST",
            "401 UNAUTHORIZED",
            "402 PAYMENT_REQUIRED",
            "403 FORBIDDEN",
            "404 NOT_FOUND",
            "405 METHOD_NOT_ALLOWED",
            "406 NOT_ACCEPTABLE",
            "407 PROXY_AUTHENTICATION_REQUIRED",
            "408 REQUEST_TIMEOUT",
            "409 CONFLICT",
            "410 GONE",
            "411 LENGTH_REQUIRED",
            "412 PRECONDITION_FAILED",
            "413 PAYLOAD_TOO_LARGE",
            "413 REQUEST_ENTITY_TOO_LARGE",
            "414 URI_TOO_LONG",
            "414 REQUEST_URI_TOO_LONG",
            "415 UNSUPPORTED_MEDIA_TYPE",
            "416 REQUESTED_RANGE_NOT_SATISFIABLE",
            "417 EXPECTATION_FAILED",
            "418 I_AM_A_TEAPOT",
            "419 INSUFFICIENT_SPACE_ON_RESOURCE",
            "420 METHOD_FAILURE",
            "421 DESTINATION_LOCKED",
            "422 UNPROCESSABLE_ENTITY",
            "423 LOCKED",
            "424 FAILED_DEPENDENCY",
            "426 UPGRADE_REQUIRED",
            "428 PRECONDITION_REQUIRED",
            "429 TOO_MANY_REQUESTS",
            "431 REQUEST_HEADER_FIELDS_TOO_LARGE",
            "451 UNAVAILABLE_FOR_LEGAL_REASONS",
            "500 INTERNAL_SERVER_ERROR",
            "501 NOT_IMPLEMENTED",
            "502 BAD_GATEWAY",
            "503 SERVICE_UNAVAILABLE",
            "504 GATEWAY_TIMEOUT",
            "505 HTTP_VERSION_NOT_SUPPORTED",
            "506 VARIANT_ALSO_NEGOTIATES",
            "507 INSUFFICIENT_STORAGE",
            "508 LOOP_DETECTED",
            "509 BANDWIDTH_LIMIT_EXCEEDED",
            "510 NOT_EXTENDED",
            "511 NETWORK_AUTHENTICATION_REQUIRED"
          ]
        },
        "view": {
          "$ref": "#/definitions/View"
        },
        "viewName": {
          "type": "string"
        }
      },
      "title": "ModelAndView"
    },
    "ProjectStructureVO": {
      "type": "object",
      "properties": {
        "commonStructureId": {
          "type": "string"
        },
        "projectId": {
          "type": "string"
        },
        "structrueId": {
          "type": "string"
        },
        "version": {
          "type": "string"
        }
      },
      "title": "ProjectStructureVO"
    },
    "ProjectSuite": {
      "type": "object",
      "properties": {
        "list": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SuiteMetaBean"
          }
        },
        "totalCount": {
          "type": "integer",
          "format": "int64"
        }
      },
      "title": "ProjectSuite"
    },
    "ProjectSuiteBinder": {
      "type": "object",
      "properties": {
        "projectId": {
          "type": "string"
        },
        "suites": {
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "title": "ProjectSuiteBinder"
    },
    "ProjectSuiteCategorySearch": {
      "type": "object",
      "properties": {
        "categoryCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "categoryIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keyword": {
          "type": "string"
        }
      },
      "title": "ProjectSuiteCategorySearch"
    },
    "ProjectSuiteResultBean": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/ProjectSuite"
        },
        "message": {
          "type": "string"
        },
        "viewed": {
          "type": "boolean"
        }
      },
      "title": "ProjectSuiteResultBean"
    },
    "ProjectSuiteSearch": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "categoryCodes": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "categoryIds": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "keyword": {
          "type": "string"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "projectId": {
          "type": "string"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "ProjectSuiteSearch"
    },
    "Response«FakeProject»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "description": "请求响应数据",
          "$ref": "#/definitions/FakeProject"
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«FakeProject»"
    },
    "Response«List«ProjectStructureVO»»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "type": "array",
          "description": "请求响应数据",
          "items": {
            "$ref": "#/definitions/ProjectStructureVO"
          }
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«List«ProjectStructureVO»»"
    },
    "Response«boolean»": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32",
          "description": "请求响应码"
        },
        "data": {
          "type": "boolean",
          "description": "请求响应数据"
        },
        "msg": {
          "type": "string",
          "description": "状态码对应的描述信息"
        }
      },
      "title": "Response«boolean»"
    },
    "SuiteMetaBean": {
      "type": "object",
      "properties": {
        "categoryCode": {
          "type": "string"
        },
        "categoryId": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "publicComponentId": {
          "type": "string"
        },
        "source": {
          "type": "integer",
          "format": "int32"
        },
        "thumbnail": {
          "type": "string"
        },
        "version": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "SuiteMetaBean"
    },
    "SuiteSearch": {
      "type": "object",
      "properties": {
        "category": {
          "type": "string"
        },
        "categoryCode": {
          "type": "string"
        },
        "keyword": {
          "type": "string"
        },
        "page": {
          "type": "integer",
          "format": "int32"
        },
        "pageSize": {
          "type": "integer",
          "format": "int32"
        },
        "sort": {
          "type": "integer",
          "format": "int32"
        }
      },
      "title": "SuiteSearch"
    },
    "UploadResultBean": {
      "type": "object",
      "properties": {
        "code": {
          "type": "string"
        },
        "data": {
          "$ref": "#/definitions/SuiteMetaBean"
        },
        "message": {
          "type": "string"
        }
      },
      "title": "UploadResultBean"
    },
    "View": {
      "type": "object",
      "properties": {
        "contentType": {
          "type": "string"
        }
      },
      "title": "View"
    }
  }
}