{
  "swagger": "2.0",
  "info": {
    "description": "Api Documentation",
    "version": "1.0",
    "title": "Api Documentation",
    "termsOfService": "urn:tos",
    "contact": {},
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0"
    }
  },
  "host": "gdc-de.glodon.com",
  "basePath": "/bimmodel",
  "tags": [
    {
      "name": "Archive归档资源分配管理接口",
      "description": "Archive Assignment Controller"
    },
    {
      "name": "Archive设计归档接口",
      "description": "Archive Controller"
    },
    {
      "name": "Bimface环境迁移专用API",
      "description": "Bimface Update Controller"
    },
    {
      "name": "Config 配置管理接口",
      "description": "Bim Config Controller"
    },
    {
      "name": "DataSet 数据集操作接口",
      "description": "Data Set Controller"
    },
    {
      "name": "DataSet 数据集资管理接口",
      "description": "Data Set Monitor Controller"
    },
    {
      "name": "DevOps 数据集运维操作接口",
      "description": "Admin Dev Ops Controller"
    },
    {
      "name": "Element Filter 构件筛选类别相关的api",
      "description": "Element Filter Controller"
    },
    {
      "name": "Element 元素操作接口",
      "description": "Element Controller"
    },
    {
      "name": "ElementSelection 元素选择",
      "description": "Element Selection Set Controller"
    },
    {
      "name": "File 文件管理接口",
      "description": "File Controller"
    },
    {
      "name": "Folder 目录操作接口",
      "description": "Folder Controller"
    },
    {
      "name": "Integrate交付单元整合接口",
      "description": "Integrate Controller"
    },
    {
      "name": "Issue 问题操作接口",
      "description": "Issue Controller"
    },
    {
      "name": "Message 消息相关",
      "description": "Message Controller"
    },
    {
      "name": "Permission 权限管理",
      "description": "Permission Controller"
    },
    {
      "name": "Project 项目管理",
      "description": "Project Controller"
    },
    {
      "name": "ProjectTemplate 项目初始化模板",
      "description": "Project Template Controller"
    },
    {
      "name": "Relationship 关联管理",
      "description": "API to operate Relationship"
    },
    {
      "name": "SampleProject 样板项目管理",
      "description": "Sample Project Controller"
    },
    {
      "name": "Share 分享管理",
      "description": "API to share data"
    },
    {
      "name": "Specialty 专业管理接口",
      "description": "Specialty Controller"
    },
    {
      "name": "Tag 标签管理",
      "description": "API to tag resources"
    },
    {
      "name": "Team 团队管理",
      "description": "API to operate teams of project"
    },
    {
      "name": "User 用户管理接口",
      "description": "User Controller"
    },
    {
      "name": "Version 版本管理",
      "description": "API to operate Version"
    },
    {
      "name": "Version升级",
      "description": "Version Update Controller"
    },
    {
      "name": "internal-test-controller",
      "description": "Internal Test Controller"
    },
    {
      "name": "更新Element工具接口",
      "description": "Element Update Controller"
    }
  ],
  "paths": {
    "/archive-assignment/packages/": {
      "get": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "获取当前用户存在哪些交付包",
        "operationId": "getAssignArchive4CurrentUserUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveResultVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-assignment/project/{projectId}/packages": {
      "get": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "获取当前用户在当前项目下存在哪些交付包",
        "operationId": "getAssignArchive4CurrentUserUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveResultVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-assignment/project/{projectId}/packages/role": {
      "get": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "根据用户角色获取当前用户在当前项目下存在哪些交付包",
        "operationId": "getAssignArchive4CurrentUserByRoleUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveResultVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-assignment/{projectId}/check/user/{recipient}": {
      "get": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "检查用户是否已经在项目中",
        "operationId": "checkRecipientInProjectUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "name": "recipient",
            "in": "path",
            "description": "recipient",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«boolean»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-assignment/{projectId}/package/{packageId}/version/{version}": {
      "get": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "查询资源包的分配情况",
        "operationId": "findRecipients4ResouceUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "分配资源包用户",
        "operationId": "assignArchive2RecipientsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recipients",
            "description": "recipients",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveVO»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-assignment/{projectId}/package/{packageId}/version/{version}/disable": {
      "put": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "禁用资源包",
        "operationId": "disable4RecipientsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recipients",
            "description": "recipients",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveVO»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-assignment/{projectId}/package/{packageId}/version/{version}/enable": {
      "put": {
        "tags": [
          "Archive归档资源分配管理接口"
        ],
        "summary": "启用已经禁用的资源包",
        "operationId": "enable4RecipientsUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "projectId",
            "in": "path",
            "description": "projectId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "recipients",
            "description": "recipients",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«AssignmentArchiveVO»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages": {
      "post": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "创建归档资料包",
        "operationId": "createArchivePackageUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "archivePackageCreation",
            "description": "archivePackageCreation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArchivePackageCreation"
            }
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchivePackageVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "更新交付包/版本的说明",
        "operationId": "updateArchivePackageUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "archivePackageUpdation",
            "description": "archivePackageUpdation",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArchivePackageUpdation"
            }
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchivePackageVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/package/{packageId}": {
      "delete": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "删除未分配的归档资料包",
        "operationId": "dropArchivePackageUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchivePackageVO»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/package/{packageId}/version/{version}": {
      "delete": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "删除未分配的归档资料包",
        "operationId": "dropArchivePackage4VersionUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchiveVersionVO»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/package/{packageId}/version/{version}/commit": {
      "put": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "将草稿档资料包保存为提交状态资源包",
        "operationId": "saveDraftArchivePackage2CommitStatusUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "resources",
            "description": "resources",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArchiveResources"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchiveVersionVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/{packageId}": {
      "get": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "根据id查询归档资料包的详情",
        "operationId": "getArchivePackageUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchivePackageVO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/{packageId}/resources": {
      "post": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "向归档资料包中添加资源",
        "operationId": "addResourcesToPackageUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "resources",
            "description": "resources",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Resource"
              }
            }
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchiveVersionVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/{packageId}/resources/draft": {
      "post": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "向草稿归档资料包中添加资源",
        "operationId": "addResourcesToDraftPackageUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "resources",
            "description": "resources",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArchiveResources"
            }
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchiveVersionVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/{packageId}/versions": {
      "get": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "查询某个归档资料包的所有版本",
        "operationId": "getArchiveVersionsByPackageIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«ArchiveVersionVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-packages/{packageId}/{version}/resources/draft": {
      "put": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "向草稿归档资料包中更新资源",
        "operationId": "updateResourcesToDraftPackageUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "path",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "resources",
            "description": "resources",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ArchiveResources"
            }
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchiveVersionVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/archive-versions": {
      "get": {
        "tags": [
          "Archive设计归档接口"
        ],
        "summary": "查询某个归档资料包指定的版本",
        "operationId": "getArchiveVersionByPackageVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "packageId",
            "in": "query",
            "description": "packageId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«ArchiveVersionVO»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bimface/updates": {
      "post": {
        "tags": [
          "Bimface环境迁移专用API"
        ],
        "summary": "添加或更新BimfaceUpdate",
        "operationId": "saveOrUpdateBimfaceUpdatesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "bos",
            "description": "bos",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/BimfaceUpdateBO"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«boolean»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bimface/updates/integrateVersions": {
      "get": {
        "tags": [
          "Bimface环境迁移专用API"
        ],
        "summary": "获取所有符合条件的integrateVersion",
        "operationId": "getIntegrateVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«IntegrateVersionVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bimface/updates/notReady": {
      "get": {
        "tags": [
          "Bimface环境迁移专用API"
        ],
        "summary": "获取所有not ready的update信息",
        "operationId": "getNotReadyBimfaceUpdatesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«BimfaceUpdate»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bimface/updates/ready": {
      "get": {
        "tags": [
          "Bimface环境迁移专用API"
        ],
        "summary": "获取所有ready的update信息",
        "operationId": "getReadyBimfaceUpdatesUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«BimfaceUpdate»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bimface/updates/versions": {
      "get": {
        "tags": [
          "Bimface环境迁移专用API"
        ],
        "summary": "获取所有viewingInfo符合条件的version",
        "operationId": "getVersionsUsingGET",
        "produces": [
          "*/*"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«VersionVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/bimface/updates/{updateId}/{status}/status": {
      "post": {
        "tags": [
          "Bimface环境迁移专用API"
        ],
        "summary": "更新update的状态",
        "operationId": "updateBimfaceUpdateStatusUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "status",
            "in": "path",
            "description": "status",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updateId",
            "in": "path",
            "description": "updateId",
            "required": true,
            "type": "integer",
            "format": "int64"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/config/scope/{scope}/{scopeEntityId}/type/{configType}": {
      "get": {
        "tags": [
          "Config 配置管理接口"
        ],
        "summary": "获得配置",
        "operationId": "getConfigByVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "configType",
            "in": "path",
            "description": "configType",
            "required": true,
            "type": "string",
            "enum": [
              "SpaceConfig",
              "GridConfig"
            ]
          },
          {
            "name": "scope",
            "in": "path",
            "description": "scope",
            "required": true,
            "type": "string",
            "enum": [
              "Project"
            ]
          },
          {
            "name": "scopeEntityId",
            "in": "path",
            "description": "scopeEntityId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "版本号(-1或者不填为最新版)",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BimConfig"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "Config 配置管理接口"
        ],
        "summary": "创建一版本配置",
        "operationId": "createConfigUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "config",
            "description": "config",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "configType",
            "in": "path",
            "description": "configType",
            "required": true,
            "type": "string",
            "enum": [
              "SpaceConfig",
              "GridConfig"
            ]
          },
          {
            "name": "scope",
            "in": "path",
            "description": "scope",
            "required": true,
            "type": "string",
            "enum": [
              "Project"
            ]
          },
          {
            "name": "scopeEntityId",
            "in": "path",
            "description": "scopeEntityId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BimConfig"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/config/scope/{scope}/{scopeEntityId}/type/{configType}/versions": {
      "get": {
        "tags": [
          "Config 配置管理接口"
        ],
        "summary": "获得配置所有版本信息",
        "operationId": "getConfigVersionsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "configType",
            "in": "path",
            "description": "configType",
            "required": true,
            "type": "string",
            "enum": [
              "SpaceConfig",
              "GridConfig"
            ]
          },
          {
            "name": "scope",
            "in": "path",
            "description": "scope",
            "required": true,
            "type": "string",
            "enum": [
              "Project"
            ]
          },
          {
            "name": "scopeEntityId",
            "in": "path",
            "description": "scopeEntityId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/bySpecialty": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "按照专业获取工作单元",
        "operationId": "getDataSetsBySpecialtyUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "specialtyId",
            "in": "query",
            "description": "specialtyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataSetVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/ids/batch": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "根据id列表批量获取工作单元",
        "operationId": "getDataSetsByIdsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dataSetIds",
            "description": "dataSetIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataSetVO»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/dataSets/version/{versionId}/standard/code": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "获取数据集指定版本中的标准编码列表",
        "operationId": "getStandardCodeCollUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "description": "versionId",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«StandardCodeVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/versions/byStatus": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "批量获取工作单元的指定状态的版本",
        "operationId": "getDatasetsVersionsByStatusUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dataSetIds",
            "description": "dataSetIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "onlySuccess",
            "in": "query",
            "description": "onlySuccess",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "draft",
              "committed"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«VersionVO»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/{dataSetId}": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "updateDatSetOwner",
        "operationId": "updateDatSetOwnerUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "ownerId",
            "in": "query",
            "description": "ownerId",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "删除指定的工作单元",
        "operationId": "deleteDataSetUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/{dataSetId}/increment-elements": {
      "get": {
        "tags": [
          "Version 版本管理"
        ],
        "summary": "获取版本间的增量结果",
        "operationId": "getIncrementElementsUsingGET_1",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "endVersion",
            "in": "query",
            "description": "endVersion",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "startVersion",
            "in": "query",
            "description": "startVersion",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Map«string,List«IncrementElement»»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/{dataSetId}/versions/byStatus": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "获取工作单元的指定状态的版本",
        "operationId": "getDatasetVersionsByStatusUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlySuccess",
            "in": "query",
            "description": "onlySuccess",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string",
            "enum": [
              "draft",
              "committed"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«VersionVO»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataSets/{dataSetId}/versions/{version}/tree": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "获取数据集指定版本的目录树",
        "operationId": "getModelTreeUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "path",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«TreeNode»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "获取Dataset",
        "operationId": "getDatasetUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "获取数据集信息",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«DataSet»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "修改数据集名称",
        "operationId": "updateProjectUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "数据集Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "数据集新名称",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "createDataSetV0",
        "operationId": "createDataSetV0UsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "ds",
            "description": "ds",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSetCreation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DataSetVO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      },
      "delete": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "逻辑删除目录",
        "operationId": "deleteProjectUsingDELETE",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "数据集Id",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "204": {
            "description": "No Content"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          }
        },
        "deprecated": true
      }
    },
    "/dataset/async-tasks/{taskId}": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "datasetCheckAsyncTaskStatus",
        "operationId": "datasetCheckAsyncTaskStatusUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "taskId",
            "in": "path",
            "description": "taskId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«DatasetTask»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/byfolder": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "getDataSetsByFolder",
        "operationId": "getDataSetsByFolderUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "folderId",
            "in": "query",
            "description": "folderId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/DataSetVO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/monitor/{token}/release": {
      "put": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "释放Token资源(客户端使用)",
        "operationId": "releaseDataSetMonitorByTokenUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "force",
            "in": "query",
            "description": "false表示如果关联的数据版本存在修改操作尚未完成，不执行释放操作",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "path",
            "description": "后台分配的Token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/ops/copy": {
      "post": {
        "tags": [
          "DevOps 数据集运维操作接口"
        ],
        "summary": "数据集运维--数据集拷贝",
        "operationId": "copyDataset4OpsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "fromDS",
            "in": "query",
            "description": "源数据集Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "merge",
            "in": "query",
            "description": "是否合并版本",
            "required": false,
            "type": "boolean"
          },
          {
            "name": "toDS",
            "in": "query",
            "description": "目标数据集Id",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "源数据集版本号，默认为最新",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/ops/struct/dataset/{fromDS}/upgrade": {
      "post": {
        "tags": [
          "DevOps 数据集运维操作接口"
        ],
        "summary": "数据集运维--数据集结构升级拷贝",
        "operationId": "copyDataset4UpGradeOpsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "fromDS",
            "in": "path",
            "description": "fromDS",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/ops/struct/project/upgrade": {
      "post": {
        "tags": [
          "DevOps 数据集运维操作接口"
        ],
        "summary": "数据集运维--数据集结构升级--项目拷贝",
        "operationId": "copyProjects4DatasetUpGradeOpsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "projects",
            "description": "projects",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Map«string,ProjectStatisticsBean»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/project-sub-id": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "getDataSetProjectSubId",
        "operationId": "getDataSetProjectSubIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "datasetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/upload/begin": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "获取上传操作的id",
        "operationId": "beginUploadIdUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "query",
            "description": "数据集Id",
            "required": false,
            "type": "string"
          },
          {
            "name": "tag",
            "in": "query",
            "description": "数据标记",
            "required": false,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "Token",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«string»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/dataset/upload/end": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "提交上传操作",
        "operationId": "endUploadIdUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "count",
            "in": "query",
            "description": "元素总数",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "datasetId",
            "in": "query",
            "description": "关联的数据集",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "metaInfoMap",
            "description": "元数据",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uploadId",
            "in": "query",
            "description": "上传id",
            "required": true,
            "type": "string"
          },
          {
            "name": "verify",
            "in": "query",
            "description": "验证文件标识",
            "required": false,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "客户端数据版本号",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«int»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/dataset/version/check": {
      "get": {
        "tags": [
          "是否为最新版本",
          "DataSet 数据集操作接口"
        ],
        "summary": "数据版本检查",
        "operationId": "checkDataSetVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "query",
            "description": "datasetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "version",
            "in": "query",
            "description": "version",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/xmonitor/list": {
      "post": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "获取工作单元上的编辑Token",
        "operationId": "listDataSetXMonitorByDSIdsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dataSetIds",
            "description": "dataSetIds",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataSetMonitorVO»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/xmonitor/{token}/{expire}/renewal": {
      "post": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "Token续签",
        "operationId": "renewalDataSetXMonitorByTokenUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "expire",
            "in": "path",
            "description": "expire",
            "required": true,
            "type": "integer",
            "format": "int64"
          },
          {
            "name": "token",
            "in": "path",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dataSetId}/monitor/ack": {
      "put": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "对接受到的Token信息进行ACK确认",
        "operationId": "ackMonitorUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dataSetId}/smonitor/apply": {
      "post": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "根据DataSetId申请读权限的Token",
        "operationId": "applyDataSetSMonitorByDSIdUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ack",
            "in": "query",
            "description": "ack",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dataSetId}/xmonitor/apply": {
      "post": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "根据DataSetId申请编辑权限的Token",
        "operationId": "applyDataSetXMonitorByDSIdUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ack",
            "in": "query",
            "description": "ack",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "expire",
            "in": "query",
            "description": "expire",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dataSetId}/xmonitor/release": {
      "put": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "根据DataSet释放Token资源(运维使用)",
        "operationId": "releaseDataSetXMonitorByDSIdUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "force",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dataSetId}/xmonitor/with/double/identity/apply": {
      "post": {
        "tags": [
          "DataSet 数据集资管理接口"
        ],
        "summary": "根据DataSetId和用户的身份标识申请编辑权限的Token",
        "operationId": "applyDataSetXMonitorByDSIdHolderUserInfoUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "ack",
            "in": "query",
            "description": "ack",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "expire",
            "in": "query",
            "description": "expire",
            "required": false,
            "type": "integer",
            "default": 0,
            "format": "int64"
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": false,
            "type": "string"
          },
          {
            "name": "uuid",
            "in": "query",
            "description": "uuid",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«MonitorResultVO»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{datasetId}": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "updateDataSet",
        "operationId": "updateDataSetUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "dataSet",
            "description": "dataSet",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSet"
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/dataset/{datasetId}/upload/begin": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "datasetPushAsyncBegin",
        "operationId": "datasetPushAsyncBeginUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pushRequest",
            "description": "pushRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetUploadBeginRequest"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«DatasetUploadBeginResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{datasetId}/upload/end": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "datasetPushAsyncEnd",
        "operationId": "datasetPushAsyncEndUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pushRequest",
            "description": "pushRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetUploadEndRequest"
            }
          },
          {
            "name": "token",
            "in": "query",
            "description": "token",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-gdc-userid",
            "in": "header",
            "description": "x-gdc-userid",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«string»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{datasetId}/upload/push/async": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "datasetPushAsync",
        "operationId": "datasetPushAsyncUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "pushRequest",
            "description": "pushRequest",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DatasetPushRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«string»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/dataset/{dsId}/movetonewfolder": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "moveToFolder",
        "operationId": "moveToFolderUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "path",
            "description": "dsId",
            "required": true,
            "type": "string"
          },
          {
            "name": "newFolderId",
            "in": "query",
            "description": "newFolderId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "boolean"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dsId}/statistics/footprint": {
      "post": {
        "tags": [
          "DevOps 数据集运维操作接口"
        ],
        "summary": "数据集运维--获得工作单元统计信息",
        "operationId": "analyzeDatasetStatisticsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "path",
            "description": "dsId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DatasetVersionStatistics»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dsId}/version": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "createVersion",
        "operationId": "createVersionUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "path",
            "description": "dsId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "metaInfoMap",
            "description": "metaInfoMap",
            "required": true,
            "schema": {
              "type": "object"
            }
          },
          {
            "name": "sourceFile",
            "in": "query",
            "description": "sourceFile",
            "required": false,
            "type": "string"
          },
          {
            "name": "status",
            "in": "query",
            "description": "status",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionVO"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": true
      }
    },
    "/dataset/{dsId}/version/latest": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "getLatestVersion",
        "operationId": "getLatestVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "path",
            "description": "dsId",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlySuccess",
            "in": "query",
            "description": "是否只查成功版本。默认为true",
            "required": false,
            "type": "boolean",
            "default": true,
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionVO"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dsId}/version/{dsVersion}": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "getVersion",
        "operationId": "getVersionUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "path",
            "description": "dsId",
            "required": true,
            "type": "string"
          },
          {
            "name": "dsVersion",
            "in": "path",
            "description": "dsVersion",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Version"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/dataset/{dsId}/versions": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "getDataSetVersions",
        "operationId": "getDataSetVersionsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dsId",
            "in": "path",
            "description": "dsId",
            "required": true,
            "type": "string"
          },
          {
            "name": "onlySuccess",
            "in": "query",
            "description": "是否只查成功版本。默认为true",
            "required": false,
            "type": "boolean",
            "default": true,
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/VersionVO"
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datasets/specialty": {
      "get": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "getDataSets",
        "operationId": "getDataSetsUsingGET",
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "specialtyId",
            "in": "query",
            "description": "specialtyId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DataSet»»"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datasets/{dataSetId}": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "更新工作单元",
        "operationId": "updateDataSetByIdUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "dataSetId",
            "in": "path",
            "description": "dataSetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "dataset",
            "description": "dataset",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataSetCreation"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«Void»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datasets/{datasetId}/blockFiles/new": {
      "put": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "产生可供上传的version的Block数据的签名URL",
        "operationId": "newVersionBlockFilesUsingPUT",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datasetFilePaths",
            "description": "datasetFilePaths",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          },
          {
            "name": "force",
            "in": "query",
            "description": "是否强制覆盖，默认false",
            "required": false,
            "type": "boolean",
            "default": false,
            "allowEmptyValue": false
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DatasetBlockFile»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datasets/{datasetId}/blockFiles/queryMD5": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "获得Version的Block数据的MD5",
        "operationId": "getMD5OfVersionBlockFilesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datasetFilePaths",
            "description": "datasetFilePaths",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DatasetBlockFile»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datasets/{datasetId}/blockFiles/readSAS": {
      "post": {
        "tags": [
          "DataSet 数据集操作接口"
        ],
        "summary": "产生可供下载的version的Block数据的签名URL",
        "operationId": "getSASOfVersionBlockFilesUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "datasetFilePaths",
            "description": "datasetFilePaths",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«List«DatasetBlockFile»»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "deprecated": false
      }
    },
    "/datasets/{datasetId}/elements/query": {
      "post": {
        "tags": [
          "Element 元素操作接口"
        ],
        "summary": "queryElements",
        "operationId": "queryElementsUsingPOST",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "datasetId",
            "in": "path",
            "description": "datasetId",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "elementQuery",
            "description": "elementQuery",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ElementQuery"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Response«string»"
            }
          },
          "201": {
[...]
