@import "style/colors.scss";

.workspace-page {
  background: #f8f8f8;

  > header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  .info-header {
    width: 100%;
    height: 88px;
    background-color: #889fb7;
    background-size: 1000px 88px;
    background-position: right 0 center;
    background-repeat: no-repeat;
    padding-left: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &.personal {
      background-color: #36565e;
    }

    h2 {
      font-size: 20px;
      line-height: 1.6;
      color: #fff;
    }

    .info {
      font-size: 12px;
      line-height: 1.67;
      color: #fff;
    }
  }

  > main {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    //margin-top: 10px;
    padding: 32px;

    .workspace-cards {
      align-items: stretch;
      width: 100%;

      & > .ant-space-item {
        display: flex;

        &:first-child {
          width: 100%;
          flex: auto;

          & > .ant-space > .ant-space-item:last-child {
            flex: auto;
          }

          & > div {
            width: 100%;
          }
        }
      }

      .hide-header {
        .ant-tabs-nav {
          display: none;
        }
      }
    }

    .project-cover {
      height: 146px;
      border: 1px solid #f0f0f0;
      border-top: none;
      background-color: #f0f0f0;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;

      .ant-tag {
        position: absolute;
        right: 7px;
        top: 11px;
        margin: 0;
      }
    }

    .project-lock-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 65px 64px;
    }

    .project-info {
      font-size: 12px;
      line-height: 16px;
      color: $text-color-secondary;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .anticon {
        font-size: 16px;
        margin-right: 4px;
      }

      span + span {
        margin-left: 12px;
      }
    }

    .inline-header {
      // position: sticky;
      // top: 46px;
      // padding-top: 10px;
      // padding-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      // border-bottom: 1px solid #eaeaea;
      // background-color: #fff;
      // z-index: 10;
      .ant-radio-button-wrapper,
      .ant-checkbox-wrapper {
        border-radius: 2px;
        border: solid 1px #d0d0d0 !important;
        background-color: #f5f5f5;
        font-size: 12px;

        .ant-checkbox {
          display: none;
        }

        &::before {
          content: none;
        }

        &.ant-radio-button-wrapper-checked,
        &.ant-checkbox-wrapper-checked {
          border: solid 1px #91d5ff !important;
          background-color: #e6f7ff;
          color: #1890ff;
        }
      }

      .ant-radio-button-wrapper + .ant-radio-button-wrapper {
        margin-left: 6px;
      }
    }

    .project-list {
      padding-top: 20px;
    }

    .workspace-card {
      box-sizing: border-box;
      box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      // height: 100%;
      margin-bottom: 16px;

      &.right-card {
        width: 300px;

        h4 {
          color: $text-color;
          font-size: 14px;
          transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }

      &.left-card {
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        &.manage {
          min-height: calc(100vh - 176px);
        }

        &.personal {
          min-height: calc(100vh - 222px);
        }
      }
    }

    .workspace-header {
      height: 108px;

      .ant-card-body {
        display: flex;
        justify-content: space-between;
        padding: 20px;

        &::after,
        &::before {
          content: none;
        }
      }
    }

    .ant-card-head {
      padding: 0 20px;
      border: none;

      .ant-card-head-title {
        font-size: 16px;
        font-weight: bold;
        color: $text-color;
        padding-bottom: 0;
      }
    }

    .project-count {
      display: flex;
      flex-direction: column;
      margin-left: 24px;
      flex: auto;

      .count-label {
        font-size: 14px;
        color: $text-color;
        position: relative;

        &::before {
          position: absolute;
          left: -15px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 6px;
          height: 6px;
          background-color: #13c2c2;
          border-radius: 50%;
        }

        &.all {
          &::before {
            content: none;
          }
        }

        &.Ongoing {
          &::before {
            background-color: #13c2c2;
          }
        }

        &.Suspended {
          &::before {
            background-color: #ff4d4f;
          }
        }

        &.Completed {
          &::before {
            background-color: $disabled-color;
          }
        }
      }

      & > span > span:not(.count-total) {
        font-size: 30px;
        color: $text-color-important;
      }
    }

    .account-card {
      .ant-card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        font-size: 30px;
        line-height: 1.27;
        color: $text-color-important;

        & > span {
          margin-bottom: 13px;
        }
      }
    }

    .help-card {
      height: 280px; //使用帮助

      .help {
        display: block;
        margin-left: 16px;
        cursor: pointer;
        transition: color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

        &:hover {
          h4 {
            color: $primary-color;
          }
        }

        .anticon {
          font-size: 14px;
          color: $primary-color;
          margin-right: 8px;
        }

        .info {
          font-size: 12px;
          color: $disabled-color;
          margin-left: 22px;
        }
      }

      .help + .help {
        margin-top: 16px;
      }
    }

    .soft-card {
      height: 260px;

      .ant-card-body {
        padding: 20px;
      }

      .queue-simple-soft {
        .line {
          height: 32px;
          margin-bottom: 24px;

          display: flex;
          align-items: center;
          justify-content: space-around;

          a {
            display: inline-block;
            //margin-right: 13px;
            height: 100%;

            img {
              height: 100%;
            }
          }

          .ant-btn {
            align-self: flex-end;
            width: 44px;
            min-width: auto;
            margin-left: 8px;
          }
        }
      }
      // .soft {
      //   display: flex;
      //   justify-content: center;
      //   flex-direction: column;
      //   align-items: center;
      //   cursor: pointer;
      //   transition: box-shadow 0.3s cubic-bezier(0.215, 0.61, 0.355, 1),
      //     transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
      //   &:hover {
      //     transform: translateY(-4px) !important;
      //     // box-shadow: 0 8px 16px rgba(0, 40, 202, 0.55);
      //   }
      //   img {
      //     height: 48px;
      //     width: 48px;
      //   }
      //   span {
      //     font-size: 12px;
      //     color: $disabled-color;
      //   }
      // }
    }

    .thumbnail-small {
      width: 24px;
      height: 16px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      cursor: pointer;
    }
  }
}

.ant-dropdown.switch-view-type-dropdown {
  padding-top: 15px;

  .switch-view-type {
    margin-left: -16px;

    .ant-dropdown-menu-item {
      padding-left: 16px;
      width: 172px;
      box-sizing: border-box;
    }
  }
}

.anim-table {
  .ant-table-tbody {
    & > tr > td {
      display: inline-block;
      background: transparent !important;
      padding: 10px 8px 7px !important;
    }
  }

  tr {
    display: flex;
    transition: none;
    background-color: #fff;

    & > td,
    & > th {
      vertical-align: bottom;
      flex: none;

      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 52px;
      }

      &:nth-child(3) {
        width: 40px;
      }

      &:nth-child(4) {
        width: 130px;
      }

      &:nth-child(5) {
        width: 64px;
      }

      &:nth-child(6) {
        flex: auto;
      }

      &:nth-child(7) {
        width: 75px;
      }

      &:nth-child(8) {
        width: 214px;
      }
    }

    &.ant-table-placeholder {
      td {
        width: 100%;
      }
    }
  }
}

.select-admin-modal {
  .label-info {
    color: $text-color-secondary;
  }

  .user-box {
    width: 100%;
    height: 236px !important;
    box-sizing: border-box;
    border: solid 1px #ddd;

    &.check-all-box {
      padding: 12px 15px;
      height: 45px !important;
      border-bottom: none;
      margin-top: 11px;
    }

    .ant-checkbox-wrapper {
      color: $text-color;
    }

    .ant-col + .ant-col {
      margin-top: 10px;
    }

    & > div:nth-child(2) {
      display: none;
    }
  }

  .ant-modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.support-service-modal {
  h3 {
    color: $text-color-important;
    margin: 0 0 13px;
    font-size: 14px;
  }

  .codes {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin-bottom: 37px;

    .code {
      display: flex;
      flex-direction: column;
      font-size: 12px;
      text-align: center;

      img {
        width: 128px;
        height: 128px;
      }

      h4 {
        color: $text-color;
        margin-top: 6.5px;
      }

      & > span {
        color: $text-color-secondary;
      }
    }
  }

  .services {
    .service {
      display: flex;
      font-size: 14px;
      align-items: center;
      flex-wrap: wrap;
      justify-content: flex-end;

      label {
        color: $text-color;
        white-space: nowrap;
        flex: none;
        width: 209.02px;
      }

      & > span {
        color: $text-color-secondary;
        font-size: 12px;
        line-height: 1.67;
        margin-top: 4px;
      }

      .ant-input-affix-wrapper {
        width: 314.98px;
        flex: none;
        padding-right: 0;
      }
    }

    .service + .service {
      margin-top: 12px;
    }
  }
}
